---
import { Image } from 'astro:assets';

import Presentation from '../layouts/Presentation.astro';
import Accent from '../components/Accent.astro';
import Title, { fancyGradient } from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import ToolSlide from '../components/ToolSlide.astro';

import modernDev from '../assets/modern-software-mess.jpg';
import www from '../assets/www-v0.png'
import js1 from '../assets/js-v1.png'
import vikings from '../assets/vikings.jpg'
import debugging from '../assets/debugging.jpg'
import goodparts from '../assets/good-parts.png'
import jquery from '../assets/jquery.jpg'
import firebug from '../assets/firebug.png'
import sourceMaps from '../assets/source-maps.jpg'

import nodeLogo from '../assets/nodejs.png'
import npmLogo from '../assets/npm.svg'
import coffeeLogo from '../assets/coffeescript.png'
import browserifyLogo from '../assets/browserify.png'
import jasmineLogo from '../assets/jasmine.svg'
import gruntLogo from '../assets/grunt-logo.svg'
import gulpLogo from '../assets/gulp-logo.svg'
import webpackLogo from '../assets/webpack-logo.svg'
import parcelLogo from '../assets/parcel.avif'
import backboneLogo from '../assets/backbone.png'
import angularLogo from '../assets/angular.png'
import reactLogo from '../assets/react.png'
import vueLogo from '../assets/vue.png'
import svelteLogo from '../assets/svelte.png'
import nextLogo from '../assets/vercel.png'
import viteLogo from '../assets/vite.png'

---

<Presentation>
  <section id="title">
    <h1>Evolution of the <Accent>JS</Accent> toolchain</h1>
    <p class="text-4xl text-right pr-12">from <Accent>jsmin</Accent> to <Accent variant='secondary'>vite</Accent></p>
  </section>

  <section id="about-me">
    <h2>Hi, I am <span class={fancyGradient}>@debelbot</span></h2>
  </section>

  <section id="what-is-the-toolschain">
    <Image src={modernDev} alt="modern dev meme" />
  </section>
 
  <section id="the-toolchain">
    <h2>A collection of tools for:</h2>
    <ul class="leading-relaxed">
      <li><span class="mono text-3xl">📦</span> Package management</li>
      <li><span class="mono text-3xl">🖥️</span> Local development</li>
      <li><span class="mono text-3xl">⚗️</span> Improving code quality</li>
      <li><span class="mono text-3xl">🔨</span> Building & bundling</li>
      <li><span class="mono text-3xl">⚙️</span> Optimization</li>
      <li><span class="mono text-3xl">🏃‍♂️</span> Running task & deployment</li>
    </ul>
  </section>

  <section id="let-there-be-tools-1">
    <h2>And God said <span class="italic">"let there be tools!"</span></h2>
  </section>

  <section id="let-there-be-tools-2">
    <h2 class="decoration-double line-through decoration-4 decoration-red-500/75">
      And God said <span class="italic">"let there be tools!"</span>
    </h2>
  </section>

  <section id="let-there-be-tools-3">
    <p class="pb-0 mb-0">In reality,</p>
    <h3>
      the tools we take for granted today are the result of years of <Accent variant="secondary">feverish</Accent> evolution
    </h3>
  </section>

  <section id="dawn-of-time">
    <Title big prefix="1991 - 2000">Dawn of the web</Title>
    <Subtitle>(when the dinosaurs still roamed the Earth)</Subtitle>
  </section>

  <section id="in-the-beginning">
    <Title prefix="1991">humble beginnings</Title>
    <p class="text-xl">There was no need for a <span class="italic">"build step"</span> and deployment mostly happend through ..FTP 😱</p>
    <Image src={www} alt="first web page" />
  </section>

  <section id="the-birth-of-js">
    <Title prefix="1995">The birth of JavaScript</Title>
    <p><Accent variant='tertiary'>Brendan Eich</Accent> created a language in 10 days (and chatGPT didn't exist, so..)</p>
    <Image src={js1} alt="netscape, now with javascript" />
  </section>

  <section id="enter-the-professionals">
    <h2>Welcome the professionals</h2>
    <p>As the web grew in popularity, established software developers come in with their familiar tools</p>
    <Image src={vikings} alt="the old guard with their tools" />
  </section>

  <section id="first-debugger">
    <Title prefix="1998">Microsoft Script Debugger</Title>
    <p>The first browser wars leads to a wave of dedicated tooling</p>
    <Image src={debugging} alt="things are starting to move" />
  </section>

  <section id="first-wave">
    <Title big prefix="2001 - 2009">Stone, bronze and iron</Title>
    <Subtitle>(when the JS pyramids where built)</Subtitle>
  </section>

  <section id="the-godfather-of-js">
    <Title prefix="2002">The good parts</Title>
    <p><Accent variant='tertiary'>Doug Crockford</Accent> writes his famous book and creates jslint and jsmin.</p>
    <Image src={goodparts} alt="the good parts" />
    <p>JavaScript starts to be seen as a real language!</p>
  </section>

  <section id="jslint">
    <Title>A strong foundation</Title>
    <p>It is impossible to understate how influential the book and jslint were for the development of the language and tooling</p>
  </section>

  <section id="jquery">
    <Title prefix="2006">jQuery</Title>
    <Image src={jquery} alt="still the most popular library in the world" />
  </section>

  <section id="firebug">
    <Title prefix="2006">Firebug</Title>
    Our modern browser dev tools are not that different from the original
    <Image src={firebug} alt="the best frontend IDE" />
  </section>

  <section id="chrome">
    <Title prefix="2009">Chrome & v8</Title>
    JavaScript gets a new, <Accent variant='secondary'>faster</Accent> engine!
  </section>

  <section id="node-js">
    <ToolSlide name="node.js" logo={nodeLogo}>
      <slot id="desc">
        <p class="pl-2 text-left text-lg">
          <Accent variant='tertiary'>Ryan Dahl</Accent> publishes the definitive server side runtime for javascript
        </p>
      </slot>
    </ToolSlide>
  </section>

  <section id="source-maps">
    <Title prefix="2009">Source maps</Title>
    <p class="text-lg">
      mapping from transformed and minified code to the original, much easier to debug
    </p>
    <Image src={sourceMaps} alt="leave source maps on in prod" />
  </section>

  <section id="industrial-revolution">
    <Title big prefix="2010 - 2018">Industrial revolution</Title>
    <Subtitle>(the prolifiration of framework drives the tooling)</Subtitle>
  </section>

  <section id="npm">
    <ToolSlide name="npm" logo={npmLogo} />
  </section>

  <section id="backbone">
    <ToolSlide name="Backbone.js" logo={backboneLogo} />
  </section>

  <section id="angular">
    <ToolSlide name="Angular" logo={angularLogo} />
  </section>

  <section id="coffeescript">
    <ToolSlide name="CoffeeScript" logo={coffeeLogo} />
  </section>

  <section id="jasmine">
    <ToolSlide name="jasmine" logo={jasmineLogo} />
  </section>

  <section id="browserify">
    <ToolSlide name="Browserify" logo={browserifyLogo} />
  </section>

  <section id="need-for-speed">
    <Title prefix="2011">Emscripten</Title>
    <p>laying the groundwork for wasm</p>
  </section>

  <section id="js-linux">
    <Title prefix="2011">JSLinux</Title>
    <p>the birth of in-browser VMs</p>
  </section>

  <section id="grunt">
    <ToolSlide name="Grunt" logo={gruntLogo} />
  </section>

  <section id="webpack">
    <ToolSlide name="webpack" logo={webpackLogo} />
  </section>

  <section id="typescript">
    <Title prefix="2012">typescript</Title>
    <p>the most helpful but annoying linter</p>
  </section>

  <section id="react">
    <ToolSlide name="react" logo={reactLogo} />
  </section>

  <section id="gulp">
    <ToolSlide name="Gulp" logo={gulpLogo} />
  </section>

  <section id="eslint">
    <Title prefix="2013">eslint</Title>
    <p>One linter to rule them all</p>
    <aside class="italic">(just admit you imported the airbnb config without even thinking..)</aside>
  </section>

  <section id="desktop-js">
    <Title prefix="2013">Electron</Title>
    Now your desktop app can be slow and bloated too!
  </section>

  <section id="vue">
    <ToolSlide name="vue" logo={vueLogo}>
      <slot id="desc">
        <p><Accent variant='tertiary'>Evan You</Accent> releases the framework for the rest of us</p>
      </slot>
    </ToolSlide>
  </section>
 
  <section id="babel">
    <Title prefix="2014">Babel</Title>
    <p>With the rapid evolution of the language came the need for transpilation opening the gates for new syntax (e.g. JSX)</p>
  </section>

  <section id="the-rise-of-serverless">
    <Title prefix="2014">AWS Lambda</Title>
    the rise of serverless
    (not directly related to dev-tools but significant for its impact on them)
  </section>

  <section id="jest">
    <Title prefix="2014">Jest</Title>
    <p>Facebook open-sources their testing framework</p>
  </section>

  <section id="unpkg">
    <Title prefix="2015">unpkg</Title>
    cdn for the masses
  </section>

  <section id="rollup">
    <Title prefix="2015">rollup</Title>
    <p><Accent variant='tertiary'>Rich Harris</Accent> releases rollup -a bundler made for speed and extensibility</p>
  </section>

  <section id="yarn">
    <Title prefix="2015">yarn</Title>
    move aside npm there is a faster cowboy in town
    (now with lockfiles, so you can actually deploy what you intented)
  </section>

  <section id="next-js">
    <ToolSlide name="next.js" logo={nextLogo}>
  </section>

  <section id="svelte">
    <ToolSlide name="svelte" logo={svelteLogo}>
      <slot id="desc">
        <p class="pl-2 text-left text-lg">
          <Accent variant='tertiary'>Rich Harris</Accent> releases his compiler-based framework
        </p>
      </slot>
    </ToolSlide>
  </section>

  <section id="lsp">
    <Title prefix="2016">Language Servers Unite!</Title>
    Microsoft releases the first ever LSP.
    It is for typescript
  </section>

  <section id="prettier">
    <Title prefix="2017">prettier</Title>
    Format the code automatically, so we don't argue over tabs vs spaces
  </section>

  <section id="puppeteer">
    <Title prefix="2017">puppeteer</Title>
    He who controls the browser, can run e2e tests with ease
  </section>

  <section id="parcel">
    <ToolSlide name="parcel" logo={parcelLogo}/>
  </section>

  <section id="wasm">
    <Title prefix="2017">Web Assembly</Title>
  </section>

  <section id="lighthouse">
    <Title prefix="2018">Lighthouse</Title>
    So you can measure how slow your site actually is
  </section>

  <section id="modern-days">
    <Title big prefix="2019 - 2025">pre-postanthropocene</Title>
    <Subtitle>(or the period soon to be referred to as "the good old days")</Subtitle>
  </section>

  <section id="monorepos">
    <Title prefix="2019">nx</Title>
    Put all your projects in one basket
  </section>

  <section id="esbuild">
    <Title prefix="2020">esbuild</Title>
    <p>a <Accent>golang-</Accent>based js/ts bundler focused on speed</p>
  </section>

  <section id="swc">
    <Title prefix="2020">swc</Title>
    <p>a <Accent variant='secondary'>rust</Accent>-based js/ts complier focused on speed</p>
  </section>

  <section id="vite">
    <ToolSlide name="vite" logo={viteLogo}>
      <slot id="desc">
        <p class="pl-2 text-left text-lg">
          <Accent variant='tertiary'>Evan You</Accent> has a dream - a universal build tool
        </p>
      </slot>
    </ToolSlide>
  </section>

  <section id="deno">
    <Title prefix="2020">deno</Title>
    <p><Accent variant='tertiary'>Ryan Dahl</Accent> strikes again!</p>
    <p><b>FAST</b> js runtime written in <Accent>rust</Accent> with builtin TS/JSX support</p>
  </section>

  <section id="bun">
    <Title prefix="2021">bun</Title>
    <p><b>FAST</b> js runtime written in <Accent variant='secondary'>zig</Accent> with builtin TS/JSX support</p>
    <p class="text-lg italic">(but with JavaScriptCore instead of v8)</p>
  </section>

  <section id="turbopack">
    <Title prefix="2022">Turbopack</Title>
    <p>Vercel develop a bundler <Accent variant='secondary'>500x</Accent> faster than webpack</p>
  </section>

  <section id="biome">
    <Title prefix="2023">biome</Title>
    <p>an even more opinionated formatter - thanks gofmt</p>
  </section>

  <section id="runtime-proliferation">
    <Title prefix="2024">runtimes everywhere</Title>
    <p>almost all major platforms have their own js runtimes:</p>
    <ul>
      <li>cloudflair/workerd</li>
      <li>amazon LLRT</li>
    </ul>
  </section>

  <section id="wasm-v3">
    <Title prefix="2025">wasm v3</Title>
    <p>the new version of wasm brings a lot of improvements, making the web an even more viable compile target</p>
  </section>

  <section id="compiler-proliferation">
    <Title prefix="2025">everyone has a compiler now</Title>
    <p>almost all major frameworks have their own compiler:</p>
    <ul>
      <li>svelte</li>
      <li>react</li>
      <li>astro</li>
      <li>next</li>
    </ul>
  </section>

  <section id="whats-next">
    <h2>Where is the tooling going next?</h2>
    <p class="text-4xl fragment">I don't know.. 🤷‍♂️😅</p>
  </section>

  <section id="lessons-learned">
    <h2>Lessons learned</h2>
    <!-- <ul> -->
    <!--   <li>The tools will continue to evolve</li> -->
    <!--   <li>Vendors are baking complex functionality into the tooling</li> -->
    <!--   <li></li> -->
    <!--   <li></li> -->
    <!-- </ul> -->
  </section>

  <section id="repeating-the-main-point">
    <h3>
      The tools we take for granted today are the result of years of <Accent variant='primary'>evolution</Accent>
    </h3>
  </section>

  <section id="repeating-the-main-point">
    <h3>the web is still evolving against all odds</h3>
    <p class="italic">(walled gardens, cryto scams, ai slop, etc)</p>
  </section>

  <section id="thank-you">
    <h1><span class={fancyGradient}>Thank you!</span></h1>
  </section>
</Presentation>
